# Files
**/*.gba
**/*.sym
**/*.wav
**/*.sav
**/*.ss1
**/*.ss2
**/*.ss3
**/*.ss4
**/*.ss5
**/*.ss6
**/*.ss7
**/*.ss8
**/*.ss9
**/*.aseprite

# Directories
**/*.TextEntries
**/*.MkDeps
Event Assembler
Workplace

# Other
**/*__pycache__